[parameters]

Nx = 128
Lx = np.pi
B = 1

Nmodes = 6

R      =  1.20
q      =  0.75

kx     =  np.pi/Lx
S      = -R*B*kx*np.sqrt(q)
f      =  R*B*kx/np.sqrt(q)
cutoff =  kx*np.sqrt(R**2 - 1)

kymin = 0.00
kymax = 0.8
Nky = 10

kzmin = 0.01
kzmax = 1
Nkz = 10

ν = 1e-5
η = 1e-5

[output]

gamma = True
eigvec = True